.fullscreen-popup {
  max-width: none !important;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: none;
}
.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  display: flex;
  z-index: 2;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.popup-left {
  width: 40%;
}

.popup-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.popup-right {
  width: 55%;
  overflow-y: auto;
}

.popup-overview {
  font-size: 16px;
  line-height: 1.6;
}

.popup-close-btn {
  background-color: #e50914 !important;
  color: #fff !important;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}
